<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#page" data-toggle="tab">Page</a></li>
  <li role="presentation"><a href="#global" data-toggle="tab">Global</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane fade in active" id="page">
		<div class="widget" ng-repeat="widget in pagewidgets">
			<iframe src="{{widget.url}}" width="100%" height="250"></iframe>
		</div>
	</div>
	<div class="tab-pane fade" id="global">
		<div class="widget" ng-repeat="widget in globalwidgets">
			<iframe src="{{widget.url}}" width="100%" height="400"></iframe>
		</div>
	</div>
	
</div>
