<!doctype html>
<html ng-app="piwik-fe-app">
<head>
<meta charset="utf8" />
<title>Piwik Frontend View</title>
<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="css/print.css" type="text/css" media="print" />

</head>
<body>

<div id="wrapper" ng-controller="PiwikCtrl">
	<form class="piwik-select-form">
		<fieldset>
			<h1 translate="PIWIK_HEADLINE" class="headline"></h1>		
			<div class="input-group date-range">
				<label translate="START_DATE"></label>
				<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="startdate" is-open="openedstart" datepicker-options="dateOptions" close-text="Close" ng-change="reloadTabs()" />
				<span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="open($event,'start')"><i class="glyphicon glyphicon-calendar"></i></button>
	          	</span>
	        </div>
	        <div class="input-group date-range">
				<label translate="END_DATE"></label>
				<input type="text" class="form-control" datepicker-popup="dd.MM.yyyy" ng-model="enddate" is-open="openedend" datepicker-options="dateOptions" close-text="Close" ng-change="reloadTabs()" />
				<span class="input-group-btn">
	            	<button type="button" class="btn btn-default" ng-click="open($event,'end')"><i class="glyphicon glyphicon-calendar"></i></button>
	          	</span>
	        </div>
	        <div class="select-settings">
				<label translate="PERIOD"></label>
				<select ng-model="period" ng-change="reloadTabs()">
					<option value="range" selected="selected" translate="PERIOD_RANGE"></option>
					<option value="day" translate="PERIOD_DAY"></option>
					<option value="week" translate="PERIOD_WEEK"></option>
					<option value="month" translate="PERIOD_MONTH"></option>
				</select>
				<label translate="WEBSITE"></label>
				<select ng-model="piwikid" ng-change="reloadTabs()">
					<option value="{{page.id}}" ng-repeat="page in piwikPages" ng-if="piwikPages.length > 1">{{page.name}}</option>
				</select>
				<label translate="SEGMENT"></label>
				<select ng-model="segmentid" ng-change="reloadTabs()">
					<option value="{{segment.id}}" ng-repeat="segment in allSegments">{{segment.name}}</option>
				</select>
				<label translate="LANGUAGE"></label>
				<select ng-controller="LangCtrl" ng-model="lang">
					<option value="de_DE">Deutsch</option>
					<option value="en_US">Englisch</option>
				</select>
			</div>
			<a class="backLink" href="{{backLink}}" translate="BACK_LINK" ng-show="backLink"></a>
		</fieldset>
	</form>
	<ul class="nav nav-tabs hide-in-print">
		<li role="presentation" ng-class="{active:$first}" ng-repeat="tab in tabs">
			<a href="#{{tab.tabnamei18n}}" data-toggle="tab" translate="{{tab.tabnamei18n}}"></a>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade in" ng-class="{active:$first}" id="{{tab.tabnamei18n}}" ng-repeat="tab in tabs">
			<h4 translate="{{tab.detailinfo}}"></h4>
			<div class="widget" ng-repeat="widget in tab.widgets">
				<div ng-if="widget.error == 1">
					<span translate="ERROR_MESSAGE"></span>
					{{widget.message}}
				</div>
				<iframe ng-if="widget.error != 1" src="{{widget.src}}" width="100%" height="{{widget.iframeHeight}}"></iframe>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/angular-translate.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/ui-bootstrap-tpls.js"></script>

<script type="text/javascript" src="config.js" ></script>
<script type="text/javascript" src="js/piwik.js"></script>


</body>
</html>